/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

a {color: black;
text-decoration: none;}

nav {display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}

nav a {padding: 2em;
border-top: 3px solid transparent;}

nav a:hover {border-top: #0065FC;
    color: #0065FC;
}

.subnav {display: flex;}

.subnav a {flex-basis: 50%; text-align: center;}

.subnav a:hover {border-top: 3px solid #0065FC;
color: #0065FC;}

@media (max-width: 800px) {
    .subnav {
        order: 1;
        flex-basis: 100%;
        text-align: center;
    }
}

.search-form {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding-top: 1em;
}

.search-form > * {
    padding: 1em 1.5em;

}



.search-form i {
    background-color: lightgrey;
    color: black;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.62em 0.5em;
    padding-left: 0.75em;


}

.search-form i fa-solid fa-location-dot {
    padding: 0.6em 0.5em;

}

.search-form input {
    flex-basis: 10em;
    border: 1px solid lightgrey;
    overflow: auto;
}

.search-form input::placeholder {
    font-size: 1.2em;
    font-weight:bold;
    color: black;
}

.search-form button {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 0.5em 0.5em 0;
    border: none;
    cursor:pointer;
    opacity:0.9;
    transition: transform 200ms;
    overflow: hidden;
}

.search-form button:hover {
    opacity:1;
    transform:scale(1.03);
}

.fa-solid.fa-magnifying-glass {
    display: none;
    color: #0065FC;
    background-color: #0065FC;
}



.filter-list {
    display: flex;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.filter .fa-solid {
    color: #0065FC;
    border-radius: 50%;
    margin : -1.5px;
    width: 2.5em;
    height : 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    border: 2px solid lightgrey;
    border-radius: 2em;
    display: flex;
    align-items: center;
    transition : all 100ms;
}

.filter span {
    font-weight: bold;
    padding: 0 0.45em;
}

.filter:hover {
    background-color: #f3f8ff;
    transform: scale(1.02)
}

.results-message {
    display: flex;
    align-items: center;
    gap:1em
}

.results-message .fa-solid {
    color: #0065FC;
    width : 2em;
    height:2em;
    border : 1px solid darkgrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em
}


#logo {margin-right: auto;
padding: 0 2em;}




:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

img { 
    height: 19px;
width: 61.089656829833984px;
left: 30px;
top: 30px;
border-radius: 0px;
}

.activities-list {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 20vh;
}

.activites-list > * {
    border: 1px solid blue;
}

.activities-list .card {
    border-radius: 1em;
    box-shadow: 0 0 16px #0000002e;
    height: 23.75em;
    min-width: 11em;
    width: 18.6em;
    padding: 0 0 2em 0; 
}

.activities-list img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-size:auto;    
}

.activities-list .card-title {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

footer {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap : 16em;
    height: 26vh;
    font-size: small;
    padding-left: 0;
    margin-left: 0;
}

footer > * {
    flex-basis: 20%;
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 67%;
    padding: 33px;
 

}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-title{
    justify-content: space-around;
    margin-bottom: 1em;
    gap : 1em;
}

.hebergements-flex {
   
    gap:4em;
    justify-content: space-around;
    margin-bottom: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.hebergements-cards .card {
    border-radius: 1em;
    padding: 0.5em;
    box-shadow: 0 0 16px #0000002e;
    flex-basis: 20%;
    height: 13em;
    min-width: 14em;
    width: 20%;   

}

.hebergements-cards img {
    width: 100%;
    height: 8em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.hebergements-cards .card-content {
    padding-left: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 3em;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    min-width: 10em;
    
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .h1{
        order: 1;
    }

    .filter {
        display: flex;
        flex-wrap: wrap;
        order: 2;
    }

    .results-message{
        order: 3;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5em
    }

   .hebergements {
    width: 100%;
    padding: 33px;
    }

    .hebergements-cards {
        justify-content: space-between;

     
    } 

    .hebergements-cards .card {
        

      
    }

    .hebergements-cards .card-title

    .hebergements-cards .card-subtitle 

    .populaires .hebergements-and-populaires {
        width: 70em;
        padding: 33em;
        background-color: blue;

    }

    .populaires {
        background-color: aqua;
        width: 100%;
    }

    .populaires-flex {
    }


    
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 3em;
        justify-content: space-between;
        align-content: space-around;
    }
    
    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
        min-width: 13em;
        width: 17em;
        height: 9em;
        
    }
    
    .populaires-cards img {
        width: 5.7em;
        height: 9em;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: 14px;

    }
    
    .populaires-cards .card-subtitle {
        margin: 0;
        font-size: 13px;

    }
    
    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }

    .activities-list .card {
        border-radius: 1em;
        box-shadow: 0 0 16px #0000002e;
        height: 16.875em;
        min-width: 11em;
        width: 12.094em;
        padding: 0 0 1.5em 0; 
    }
    
    .activities-list img {
        width: 100%;
        height: 85%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-size:auto;  
    }
    
    .activities-list .card-title {
        padding-left: 1em;
        padding-bottom: 3em;
        margin-bottom: 3em;
        align-items: center;
        justify-content: center;
    }

    footer {
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap : 13em;
        height: 26vh;
        font-size: small;
        padding-left: 0;
        margin-left: 0;
    }
    
    footer > * {
        flex-basis: 15%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .subnav a:hover {border-bottom: 3px solid #0065FC;
        color: #0065FC;
        border-top: none;
    }

    @media(max-width: 800px) {
        .search-form .search-text{
            display: none;
        }
    }

 

    .fa-solid.fa-magnifying-glass {
    display: inline;
    color: white;
    background-color: #0065FC;
    padding-left: 0;
    padding-right: 0;
    }

    .filter-list {
        display: grid;
        align-items: center;
        gap: 2em;
        grid-template-columns: repeat(2, 0.5fr); 
       }

    .hebergements .hebergements-and-populaires {
        order: 1;
        margin-top: 10px;
        background-color: white;
        width: none;
    }

    .hebergements-cards {
        order: 1;
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards .card {
        border-radius: 1.3em;
        padding: 0 0 1 0;
        box-shadow: 0 0 16px #0000002e;
        flex-basis: 20%;
        height: 13em;
        min-width: 14em;
        width: 21em;   
    
    }

    .hebergements-cards img {
        width: 335px;
        height: 124px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
    }

    .hebergements-cards .card-content {
        padding-left: 5px;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 1em;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .hebergements-cards .card-title {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .hebergements-cards .card-subtitle {
        margin-top: 1em;
    }
    
    .hebergements-cards .card-rating {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }



    .populaires {
        flex-direction: column;
        order: -1;
        padding: 30px;
        width: 100%;
        margin-bottom: 10px;
    }

    .populaires-cards {
        flex-direction: column;
        order: -1;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
        min-width: 13em;
        width: 21em;
        height: 9em;
        
    }

    .activities-list {
        display: flex;
        flex-direction: column;
    }

    .activities-list .card {
        border-radius: 1em;
        box-shadow: 0 0 16px #0000002e;
        height: 12.5em;
        min-width: 11em;
        width: 20em;
        padding: 0 0 1.5em 0; 
    }
    
    .activities-list img {
        width: 100%;
        height: 80%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-size:auto;  
    }
    
    .activities-list .card-title {
        padding-left: 1em;
        padding-bottom: 3em;
        margin-bottom: 3em;
        align-items: center;
        justify-content: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        gap : 1em;
        height: 55vh;
        font-size: small;
        padding-left: 0;
        margin-left: 0;
    }
    
    footer > * {
        flex-basis: 5%;
    }
    /* ... */
}